[[source]]
# name = "pypi"
# url = "https://pypi.org/simple"
name = "tuna"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
nose = "*"
mypy = "*"

[packages]
sphinx = "*"

[requires]
python_version = "3.8"
